<p style="color: green"><%= notice %></p>

<%= render @usuario %>

<div>
  <%= link_to "Editar usuario", edit_usuario_path(@usuario) %> |
  <%= link_to "Volver a usuarios", usuarios_path %>

  <%= button_to "Eliminar usuario", @usuario, method: :delete %>
</div>
